{% extends 'index.html' %}
{% block content %}  

        <div class="container">
            <br>
            <br>
            <br>
            <h1>Welcome to the ECE569 IoT Project</h1>
            <br>
            <br>

          <!--Simple Form-->
          <h2 class="my-4">Upload a file</h2>
            <br>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

                   <input type="file" name="upload" >
                   <br>
                   <br>
                   {% if city == "True" %}
                   Enter your city name : <input type="text" name="inp" size="3" >
                   <input type="file" name="upload" >
                   <button class="btn btn-dark my-4" value="local" name="msg" type="submit">Submit to local</button>
                   <button class="btn btn-dark my-4" value="cloud" name="msg" type="submit">Submit to cloud</button>
                 {% endif %}
                  <br>
                   <button class="btn btn-dark my-4" value="local" name="msg" type="submit">Submit to local</button>
                   <br>
                   <button class="btn btn-dark my-4" value="cloud" name="msg" type="submit">Submit to cloud</button>
                   <br>
                   <br>
                   {% if messages %}              
                    {% for message in messages %}
                      <div class="alert alert-success">{{message}}</div>
                    {% endfor %}               
                {% endif %}

                
          </form>




        </div>

{% endblock %}